/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #000;
    text-align: center;
}
* {box-sizing: border-box;}
h1{
    font-size: 4rem;
    line-height: 5rem;
    margin: 1rem;
}
h2{
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}
h3 {
    padding: 1rem;
    font-weight: bold;
}
a, i{
    color: #e42424;
    text-decoration: none;

}
button{
    font-size:1.9rem;
    color: white;
    background: linear-gradient( #6cc1e2, #392f7a) ;
    border: none;
}

/* HEADER */
header{
    line-height: 1/1.1/1.2;
    background-color: white;
    box-shadow: 0 5px 10px #d3d3d3;
    display: flex;
    width: 100%;
    flex-basis: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.6em;
}
header nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-right: 5px;

}
header nav li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}
header nav li a {
    color: rgb(69, 68, 68);
    text-decoration: none;
}
header img{
    margin-top: 5px;
    margin-left: 5px;
}

/* MAIN */
main .sfondo{
    text-align: left;
    color: white;
   background-image: url(../images/banner.jpg);
   padding: 20px;
   width: 100%;
   height: auto;
   background-position: center;
   background-repeat: no-repeat;
   
}
main .sfondo form{
    margin-top: 10px;
}
main p {
    margin-bottom:  1rem; ;
}
aside .blu{
    background-color: #0c0633;
    color: white;
}
aside .blu h2{
    padding: 3rem 3rem 0 ;
}
aside .blu p{
    margin-bottom: 2rem;
}
aside .blu form {
    padding-bottom: 5rem;
}
section{
    margin: 2rem;
}
section div{
    margin: 1rem;
}


.foto{
    max-width: 100%;
}
table{
    line-height: 4rem;
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
}
thead{
    background-color: #155872;
    color: white;
}
.color{
    background-color:#d2dce7 ;
}
@media screen and(max-width: 700px) {
    table {
        display: flex;
    }
}
/* TABLE */
/*
table{
    text-align: center;
    width: 100%;
    line-height: 2.5rem;
    margin-bottom: 4rem;
}
.tc {
    background-color: #d2dce7;
}
.up {
    height: 2.5rem;
    width: 15rem;
    margin: 0.5rem;
} 
*/


/* FOOTER */
footer{
    background-color:rgb(238, 238, 238) ;
    text-align: left;
}
footer h4, p, form, ul, address, legend {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}
footer li{
    list-style: none;
    display: inline-block;
}
footer button{
    width: 147px;

}
@media  screen and (min-width:768px) {
    .contatti{
        display: flex;
    }
    .contatti .end{
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        flex-basis: 50%;
    }
    .contatti form {
      margin-right: 4rem;
      flex-basis: 50%;
      flex-flow: row;
      height: 5rem;
      width: 5rem;
    }
    .up {
        height: 2.5rem;
        width: 15rem;
        margin: 0.5rem;
    }

    .foto1{
        margin-right: 2rem;
    }
    .container {
        display: flex;
        justify-content: space-around;
    }
    main article {
        display: flex;
        justify-content: space-around;
    }

    section {
        display: flex;
        width: 100%;
    }
    section .flex{
        justify-content: center;
        flex-flow: column;
        flex-wrap: nowrap;
        flex-basis: 50%;
        margin-right: 2rem;
  }
  section img {
      flex-basis: 50%;
  }
}

/* RESPONSIVE */
